body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1f1d2c;
    height: 100vh;
    margin: 0;
}

#logo {
    display: flex;
    z-index: 0;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: white;
    border: 3px solid #ff0000;
    border-radius: 8px;
    position: absolute;
    top: 0;
    height: 10%;
    box-sizing: border-box;
    margin-left: 15%;
    margin-right: 15%;
}

.main {
    display: flex;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;
    padding-top: 1px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: hsl(0, 0%, 98%);
}

#register-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#register-form label {
    margin-top: 10px;
}

#register-form input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#username , #password, #confirm-password {
    width: calc(100% - 22px);
}

#register-form button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#register-form button:hover {
    background-color: #45a049;
}

#register-form input:hover {
    cursor: pointer;
}

.password-container {
    display: flex;
    align-items: center;
    position: relative;
}

.show-password-container {
    display: flex;
    align-items: center;
}

.toggle-password {
    margin-right: 10px;
}

