@charset "UTF-8";
@-webkit-keyframes blink {
  0%, 100% {
    color: black;
  }
  50% {
    color: red;
  }
}
@keyframes blink {
  0%, 100% {
    color: black;
  }
  50% {
    color: red;
  }
}
* {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: Trebuchet MS, sans-serif;
}

#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #e74c3c;
  z-index: 1;
}

#logo {
  position: absolute;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 100;
  background-color: white;
  border: 3px solid #ff0000;
  border-radius: 8px;
  padding: 20px;
  top: 0; /* Прикрепляем к верху */
  left: 50%; /* Центрируем по горизонтали */
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); /* Корректируем позицию для центрирования */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  border: 3px solid #ff0000;
  border-radius: 8px;
  padding: 20px;
  width: 30rem;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.hidden {
  display: none;
}

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  z-index: 2;
}

.loaded {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

#chat-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: auto;
  width: 40rem;
  max-width: 40rem;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  margin: 20px 0;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  max-height: 20rem;
  min-height: 20rem;
}
#chat-container h1 {
  margin: 0;
  padding: 4rem 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 0;
  position: fixed;
  text-align: center;
  margin-left: 14rem;
  margin-top: 9rem;
}

#messages {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow-y: auto;
  margin-bottom: 20px;
  padding-right: 10px;
  max-height: 100%;
}

#message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.form-control {
  width: 82%;
  max-width: 82%;
}

#message-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#message-input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

#send-button {
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
#send-button:hover {
  background-color: #0056b3;
}

#messageForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border-top: 1px solid #ccc;
  background-color: #f9f9f9;
  bottom: 0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 2px solid rgb(255, 0, 0);
  position: absolute;
  width: 100%;
  margin-top: auto;
  width: 38.25rem;
  max-width: 38.25rem;
}

.sms {
  overflow-y: auto;
  border: 2px solid rgb(200, 255, 0);
  -webkit-transition: max-height 0.5s ease-in;
  transition: max-height 0.5s ease-in;
  height: 29rem;
  max-height: 29rem;
  position: relative;
}

.message {
  word-wrap: break-word;
  word-break: break-all;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.nickname {
  color: red;
  font-weight: bold;
}

.primary {
  background-color: #007bff;
  color: #fff;
  padding: 5px;
  display: inline-block;
  height: 2.4rem;
}

.users {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  width: 15rem;
}
.users h1 {
  font-size: 1.5em;
  margin-bottom: 10px;
}
.users ul {
  list-style-type: none;
  padding: 0;
  border: 0.15rem solid black;
}
.users ul li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

#userlist {
  border: 2px solid black;
  margin-top: 20px;
  font-size: 1.2em;
  color: #333;
}

#user-list:hover {
  background-color: green;
  opacity: 0.9;
  cursor: pointer;
}

.empty:hover {
  background-color: red;
  opacity: 0.9;
  cursor: not-allowed;
}

.infopanel {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  text-align: center;
  width: 15rem;
}
.infopanel h2 {
  margin: 10px 0;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home-button, .add-friend-button, .logout-button {
  padding: 10px 20px;
  border: none;
  background-color: #333;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
}
.home-button:hover, .add-friend-button:hover, .logout-button:hover {
  background-color: #555;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 2rem;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.modal-content .modal-button_yes, .modal-content .modal-button_no {
  width: 42%;
  margin-bottom: 2%;
  margin-top: 2%;
}
.modal-content h2 {
  margin-top: 0;
}
.modal-content input {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 10rem;
}
.modal-content button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 10rem;
  width: 100%;
  margin-top: 5%;
  cursor: pointer;
}
.modal-content button:hover {
  background-color: #45a049;
}
.modal-content input:hover {
  cursor: pointer;
}
.modal-content p {
  margin-top: 10px;
}

.close {
  display: none;
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.blink {
  -webkit-animation: blink 1s linear infinite;
          animation: blink 1s linear infinite;
}