.infopanel {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    text-align: center;
}

.infopanel h2 {
    margin: 10px 0;
}

.home-button,.add-friend-button, .logout-button {
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
}
.home-button:hover, .add-friend-button:hover, .logout-button:hover {
    background-color: #555;
}
.buttons {
    display: flex;
    flex-direction: column;
}