body {
    font-family: Arial, sans-serif;
    display: flex;
    background-color: #1f1d2c;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
}

#logo {
    display: flex;
    z-index: 0;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: white;
    border: 3px solid #ff0000;
    border-radius: 8px;
    position: absolute;
    top: 0;
    height: 10%;
    box-sizing: border-box;
    margin-left: 15%;
    margin-right: 15%;
}
#chat-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto; 
    width: 40rem;
    max-width: 40rem;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    margin: 20px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    max-height: 20rem;
    min-height: 20rem;
}

#chat-container h1 {
    margin: 0; 
    padding: 4rem 0; 
    box-sizing: border-box;
    padding-top: 0;
    position: fixed;
    text-align: center;
    margin-left: 14rem;
    margin-top: 9rem;
}

#messages {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 20px;
    padding-right: 10px;
    max-height: 100%;
}

.hidden {
    display: none; 
}
.sms {
    max-height: 300px; 
    overflow-y: auto; 
    border: 1px solid #ccc; 
    transition: max-height 0.5s ease-in;
}

.message {
    word-wrap: break-word;
    word-break: break-all;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.nickname {
    color: red; 
    font-weight: bold;
}

#message-form {
    display: flex;
}

#message-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

#send-button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

#send-button:hover {
    background-color: #0056b3;
}

