// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";
@import "mixins";

//todo MAIN MIXINS
* {
  overflow: hidden;
  margin: 0;
  padding: 0;
  h1 {
    user-select: none;
  }
  font-family:
    JetBrains Mono,
    monospace;
}

:root {
  @include root;
}

#particles-js {
  @include particlebg;
}

// todo
.main {
  @include main;
  width: 25rem;
  .form-control {
    margin-bottom: 1rem;
  }
  padding: 1rem !important;
}

#logo {
  @include logo;
  background: linear-gradient(55deg, var(--dark), rgb(51, 51, 51));
  border-left: 0.1px solid rgba(255, 255, 255, 0.205);
  border-bottom: 0.1px solid rgba(255, 255, 255, 0.205);
  h1 {
    background: linear-gradient(to right, var(--light), var(--text)) !important;
    -webkit-background-clip: text !important;
    color: transparent !important;
  }
}

.navigation {
  @include navigation;
}

.loaded {
  width: 100%;
  height: 100%;
}

.my-3 {
  margin-top: 2% !important;
  margin-bottom: 2% !important;
}

.form-check-input {
  margin-top: 4%;
}

.click {
  text-align: center;
  p {
    color: rgb(255, 0, 0);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
  }
}

#text {
  text-align: center;
}

.cursor-wait,
.cursor-wait * {
  cursor: wait !important;
}

label::after {
  background-color: rgba(0, 0, 0, 0) !important;
}

.text-body-secondary {
  font-size: 0.95rem;
}

#but_fail,
#but_warning,
#but_warning2,
#but_warning3 {
  font-size: 1.25rem;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: not-allowed;
}

.btn-primary {
  --bs-btn-bg: #148c7c;
  border-color: transparent;
}
.btn-primary:hover {
  --bs-btn-hover-bg: #0a8674;
  --bs-btn-active-bg: #0a8674;
  border-color: transparent;
}

.main {
  background: linear-gradient(to right, #17181c, #282d33) !important;
  h1 {
    color: var(--light);
  }
  span {
    color: var(--text);
  }
  border-left: 0.1px solid rgba(255, 255, 255, 0.025);
}

.text_container {
  small {
    color: var(--light) !important;
  }
}
