@import "~bootstrap/scss/bootstrap";
@import "mixins";

//todo MAIN MIXINS
* {
  overflow: hidden;
  margin: 0;
  padding: 0;
  @include fonts;
  h1 {
    user-select: none;
  }
}

#particles-js {
  @include particlebg;
}

#logo {
  @include logo;
}
// todo
.main {
  @include main;
  width: 25rem;
  .form-control {
    margin-bottom: 1rem;
  }
  padding: 1rem !important;
}

.navigation {
  @include navigation;
}

// #username,
// #password,
// #confirm-password {
//   @include width-properties;
// }

.loaded {
  width: 100%;
  height: 100%;
}

.my-3 {
  margin-top: 2% !important;
  margin-bottom: 2% !important;
}

.form-check-input {
  margin-top: 4%;
}

.click {
  text-align: center;
  p {
    color: rgb(255, 0, 0);
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
  }
}

#text {
  text-align: center;
}

.cursor-wait,
.cursor-wait * {
  cursor: wait !important;
}

label::after {
  background-color: rgba(0, 0, 0, 0) !important;
}

.text-body-secondary {
  font-size: 0.95rem;
}

#but_fail,
#but_warning,
#but_warning2,
#but_warning3 {
  font-size: 1.25rem;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: not-allowed;
}
