@import "mixins";

@keyframes blink {
    0%, 100% { color: black; }
    50% { color: red; }
}

* {
    overflow: hidden;
    margin: 0;
    padding: 0;
    @include fonts;
}

#particles-js {
    @include particlebg;
}


#logo {
    @include logo;
}

.main {
    @include main;
}

.hidden {
    display: none;
}

.article {
    @include article;
}

.loaded {
    @include bodychat;
}

//? MESSENGER MESSENGER MESSENGER MESSENGER 
#chat-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    width: 40rem;
    max-width: 40rem;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    max-height: 20rem;
    min-height: 20rem;

    h1 {
        margin: 0;
        padding: 4rem 0;
        box-sizing: border-box;
        padding-top: 0;
        position: fixed;
        text-align: center;
        margin-left: 14rem;
        margin-top: 9rem;
    }
}

#messages {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 20px;
    padding-right: 10px;
    max-height: 100%;
}

#message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;    
}

.form-control {
width: 82%;
max-width: 82%;
}

#message-form {
    display: flex;
}

#message-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

#send-button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: #0056b3;
    }
}

#messageForm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ccc;
    background-color: #f9f9f9;
    bottom: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid rgb(255, 0, 0);
    position: absolute;
    width: 100%;
    margin-top: auto;
    width: 38.25rem; 
    max-width: 38.25rem; 
}

.sms {
    overflow-y: auto;
    border: 2px solid rgb(200, 255, 0);
    transition: max-height 0.5s ease-in;
    height: 29rem;
    max-height: 29rem;
    position: relative;
}

.message {
    word-wrap: break-word;
    word-break: break-all;
    padding: 10px;
    border-bottom: 1px solid #eee;    
}

.nickname {
    color: red;
    font-weight: bold;
}

.primary {
    background-color: #007bff;
    color: #fff;
    padding: 5px;
    display: inline-block;
    height: 2.4rem;
}

//? USERS USERS USERS USERS USERS USERS 
.users {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    width: 15rem;

    h1 {
        font-size: 1.5em;
        margin-bottom: 10px;
    }

    ul {
        list-style-type: none;
        padding: 0;
        border: 0.15rem solid black;

        li {
            padding: 10px;
            border-bottom: 1px solid #ddd;
        }
    }
}

#userlist {
    border: 2px solid black;
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
}
#user-list:hover {
        background-color: green;
        opacity: 0.9;
        cursor: pointer;
}

.empty:hover {
    background-color: red;
    opacity: 0.9;
    cursor: not-allowed;
}

//? INFOPANEL INFOPANEL INFOPANEL INFOPANEL 
.infopanel {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    text-align: center;
    width: 15rem;
    h2 {
        margin: 10px 0;
    }
}

    .buttons {
        display: flex;
        flex-direction: column;
    }

    .home-button, .add-friend-button, .logout-button {
        padding: 10px 20px;
        border: none;
        background-color: #333;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        margin: 10px 0;

        &:hover {
            background-color: #555;
        }
    }

//? MODAL WINDOW MODAL WINDOW MODAL WINDOW
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 2rem;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);

    .modal-button_yes, .modal-button_no {
        width: 42%;
        margin-bottom: 2%;
        margin-top: 2%;
    }


    h2 {
        margin-top: 0;
    }

    input {
    @include width-properties;   
        padding: 10px;
        margin-bottom: 10px; 
        margin-top: 10px;
        border: 1px solid #ccc;
        border-radius: 10rem;
    }

    button {
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 10rem;
        width: 100%;
        margin-top: 5%;
        cursor: pointer;

        &:hover {
            background-color: #45a049;
        }
    }
    input:hover {
        cursor: pointer;
    }

    p {
        margin-top: 10px;
    }
}

.close {
    display: none;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;

    &:hover, &:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
}

.blink {
    animation: blink 1s linear infinite;
}