@mixin bodydata {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1f1d2c;
  height: 100vh;
  margin: 0;
}

@mixin bodychat {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@mixin particlebg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #e74c3c;
  z-index: 1;
}

@mixin chatbody {
  font-family: Arial, sans-serif;
  display: flex;
  background-color: #1f1d2c;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin: 0;
}

@mixin logo {
  position: absolute;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 100;
  background-color: white;
  border: 3px solid #ff0000;
  border-radius: 8px;
  padding: 20px;
  top: 0;
  left: 50%; /* Центрируем по горизонтали */
  transform: translateX(-50%); /* Корректируем позицию для центрирования */
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    font-size: 2rem;
  }
  .spinner-border {
    padding: 3%;
    margin-left: 0.625em;
    margin-right: 0.625em;
  }
  ul {
    padding-left: 0% !important;
  }
}

@mixin main {
  display: flex;
  z-index: 2;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 3px solid #ff0000;
  border-radius: 8px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin width-properties {
  width: calc(100% - 22px);
}

@mixin article {
  display: flex;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  position: absolute;
  z-index: 2;
}

@mixin fonts {
  font-family: Trebuchet MS, sans-serif;
}
