@mixin root {
  --success: rgb(16, 194, 167);
  --light: #f8f9fa;
  --dark: #17181c;
  --output-message: #353a40;
  --text: rgb(16, 194, 167);
  --header: #282d33;
  --li: #3d444d;
  --bs-body-bg-rgb: 40, 45, 51;
  --bs-btn-bg: 16, 194, 167;
  --click: #2b2f36;
  --bs-btn-close-color: white !important;
}

@mixin bodydata {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dark);
  height: 100vh;
  margin: 0;
}

@mixin bodychat {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@mixin particlebg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--dark);
  z-index: 0;
}

@mixin chatbody {
  font-family: Arial, sans-serif;
  display: flex;
  background-color: var(--dark);
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin: 0;
}

@mixin logo {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 25rem;
  z-index: 100;
  background-color: var(--output-message);
  border-radius: 8px;
  padding: 10px;
  top: 0;
  left: 50%; /* Центрируем по горизонтали */
  transform: translateX(-50%); /* Корректируем позицию для центрирования */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10% !important;
  h1 {
    font-size: 2rem;
    color: var(--text) !important;
  }
  .spinner-border {
    padding: 3%;
    margin-left: 0.625em;
    margin-right: 0.625em;
  }
  ul {
    padding-left: 0% !important;
  }
}

@mixin main {
  display: flex;
  z-index: 2;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--light);
  border: 3px solid var(--danger);
  border-radius: 8px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin article {
  display: flex;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  position: absolute;
  z-index: 2;
}

@mixin navigation {
  display: flex;
  position: absolute;
  z-index: 100000;
  margin-left: 25%;
}
