@import "~bootstrap/scss/bootstrap";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @include fonts;
}

#particles-js {
  @include particlebg;
}

#logo {
  @include logo;
}
.main {
  padding: 0%;
}
.p-4 {
  width: 100%;
}
.p-md-5 {
  padding: 1rem !important;
}
#text {
  text-align: center;
}
