@import "~bootstrap/scss/bootstrap";
@import "mixins";

//todo MAIN MIXINS
* {
  overflow: hidden;
  margin: 0;
  padding: 0;
  h1 {
    user-select: none;
  }
  font-family: JetBrains Mono, monospace;
}

:root {
  @include root;
}

#particles-js {
  @include particlebg;
}

#logo {
  @include logo;
  background: linear-gradient(55deg, var(--dark), rgb(51, 51, 51));
  border-left: 0.1px solid rgba(255, 255, 255, 0.205);
  border-bottom: 0.1px solid rgba(255, 255, 255, 0.205);
  h1 {
    background: linear-gradient(to right, var(--light), var(--text)) !important;
    -webkit-background-clip: text !important;
    color: transparent !important;
  }
}

// todo
.navigation {
  @include navigation;
}
.registration {
  @include main;
  width: 30rem;
  padding: 0%;
  .form-control {
    margin-bottom: 1rem;
  }
  padding: 1rem !important;
  background-color: transparent;
  #registerForm {
    h1 {
      color: var(--light);
    }
    span {
      color: var(--text);
    }
    background-image: linear-gradient(to right, var(--dark), var(--header));
    border-color: transparent !important;
    .text-body-secondary {
      color: var(--light) !important;
    }
  }
}

.p-4 {
  width: 100%;
}
.p-md-5 {
  padding: 1rem !important;
}
#text {
  text-align: center;
  margin-bottom: 1rem !important;
}

label::after {
  background-color: rgba(0, 0, 0, 0) !important;
}

.form-floating {
  margin-bottom: 0% !important;
}
.mb-3 {
  margin-bottom: 0% !important;
}
.asideshowpass {
  margin-bottom: 1rem !important;
}
.text-body-secondary {
  font-size: 0.95rem;
}

#but_fail,
#but_warning,
#but_warning2,
#but_warning3,
#but_success {
  font-size: 1.25rem;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.btn-primary {
  --bs-btn-bg: #11c7aca8;
  border-color: transparent;
}
.btn-primary:hover {
  --bs-btn-hover-bg: #0a8674;
  --bs-btn-active-bg: #0a8674;
  border-color: transparent;
}
